#/*===========================================================================*/
/*          styles for the entire site                                       */
/*===========================================================================*/

/*    body        */
body
{
  background-image: url('../img/bg.png');
}
/*  Error message appearance         */


/*========================================================================================*/
/*          Initial Landing Page image
/*========================================================================================*/
.img{
  height: 650px;
  width: 100%;
  background-image: url('../img/bird.jpg');
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center;
  margin-bottom: 0px;
}

/*========================================================================================*/
